<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myCoreLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7783EB5A1D05C2810075147A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7783EB761D05C2820075147A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7783EB811D05C2820075147A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
